@import './src/_variables.scss';

button {

  border: none;

  font-size: 18px;
  background-color: #fafafa;


  color: $color_black;

  &:hover {
    cursor: pointer;
    background-color:$color_black;
    color: $color_white;
  }

}

.small {

  padding: .5rem .5rem;
  font-size: 16px;

}

.medium {

  padding: .5rem .75rem;
  font-size: 18px;
  margin-left: .5rem;

}

.large {

  padding: .5rem 1.25rem;
  font-size: 20px;

}