@import "src/variables";

.event {
  min-width: 350px;
  //box-shadow: $shadow_1;
  padding: .5rem 0;
  margin: 1rem;
  border-bottom: 1px solid $color_black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    margin: .25rem 0;
  }

  &__header, &__body , &__footer {
    margin: .25rem 0;
  }

  &__time, &__date,  &__phone,  {
    padding: .25rem;
    background-color: #fafafa;
  }

  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media screen and ( max-width: 768px ) {
  .event {
    margin: 0;
  }
}