.home {
  width: 100%;


  &__header {

  }


  &__body{
    height: 96vh;
    display: flex;
    flex: 1 0 auto;
  }

  &__footer {
    flex-shrink: 0;
  }

  &__calendar {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__events {

    flex: 1;

  }

}

@media screen and ( max-width: 768px ) {

  .home {

   &__body {
     flex-direction: column;
   }

  }

}
